<div class="sidepane bg-gray-200 p-4 h-full overflow-y-auto">
  <h3 class="font-bold mb-4">SQL Commands</h3>
  <ul class="list-disc pl-4 space-y-2">
      <li><a href="#">SELECT Statement</a></li>
      <li><a href="#">INSERT Statement</a></li>
      <li><a href="#">UPDATE Statement</a></li>
      <li><a href="#">DELETE Statement</a></li>
      <li><a href="#">CREATE TABLE Statement</a></li>
      <li><a href="#">ALTER TABLE Statement</a></li>
      <li><a href="#">DROP TABLE Statement</a></li>
      <li><a href="#">CREATE INDEX Statement</a></li>
      <li><a href="#">DROP INDEX Statement</a></li>
      <li><a href="#">JOIN Clause</a></li>
      <li><a href="#">INNER JOIN</a></li>
      <li><a href="#">LEFT JOIN</a></li>
      <li><a href="#">RIGHT JOIN</a></li>
      <li><a href="#">FULL JOIN</a></li>
      <li><a href="#">UNION Operator</a></li>
      <li><a href="#">UNION ALL Operator</a></li>
      <li><a href="#">EXISTS Operator</a></li>
      <li><a href="#">CASE Statement</a></li>
      <li><a href="#">Subqueries</a></li>
      <li><a href="#">Stored Procedures</a></li>
      <li><a href="#">Transactions</a></li>
      <li><a href="#">Views</a></li>
      <li><a href="#">Constraints</a></li>
      <li><a href="#">Aggregate Functions</a></li>
      <li><a href="#">Scalar Functions</a></li>
      <li><a href="#">Window Functions</a></li>
      <!-- Add more SQL command links as needed -->
  </ul>
</div>
